<article class="blog-post">
  <h2 class="blog-post-title"><%= article.title %></h2>
  <p class="blog-post-meta"><%= datebr(article.created_at) %> by <%= @article.user.email %></p>

  <p><%= truncate(article.body, length: 240) %></p>

  <p><%= link_to "Continue reading ...", article, class: "btn btn-link" %></p>
  
</article>