<article class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta"><%= render 'article_detail', article: @article %> </p>

  <p><%= @article.body %></p>

<p>
 <%= link_to "Back", articles_path, class: "btn btn-secondary" %>
 <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-secondary" if policy(@article).update? %>
 <%= button_to 'Delete',  article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" if policy(@article).destroy? %></p>

</article>