<article class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>
  <p class="blog-post-meta"><%= datebr(@article.created_at) %> by <%= @article.user.email %> </p>

  <p><%= @article.body %></p>

<p>
 <%= link_to "Back", articles_path, class: "btn btn-secondary" %>
 <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-secondary" %>
 <%= button_to 'Delete',  article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></p>

</article>